.apply {
  margin: 30px 0;
}

.form {
  display: grid;
  grid-auto-flow: row;

  &__textarea {
    width: 200px;
    height: 100px;
  }

  &__button {
    width: 20%;
  }
}

mat-card {
  margin: 20px 0;
}

@media (max-width: 576px) {
  .apply {
    width: 100%;
  }

  .form__button {
    font-size: 20px;
    width: 100%;
  }
}
