<header class="header">
  <div class="container">
    <nav class="nav">
      <a routerLink="/" class="logo" (click)="onHideMenu()">
        <img
          src="../../../assets/img/jobOffers_logo.png"
          alt="it-job-offers-logo"
          class="logo__img"
        />
      </a>
      <div class="burger" (click)="onToggleMenu()">
        <mat-icon [inline]="true">menu</mat-icon>
      </div>
      <div class="menu" #menu (click)="onHideMenu()">
        <ul class="nav__list nav__list--left">
          <li class="nav__item">
            <a routerLink="/offers">{{ "HEADER.OFFERS" | translate }}</a>
          </li>
          <li class="nav__item nav__item--observe">
            <a routerLink="/offers/watchedoffers"
              ><mat-icon [matBadge]="watchedfOffersLen" matBadgeColor="accent"
                >star</mat-icon
              >{{ "HEADER.SAVED" | translate }}</a
            >
          </li>
          <li class="nav__item">
            <a routerLink="/companies">{{ "HEADER.COMPANIES" | translate }}</a>
          </li>
          <li class="nav__item nav__item--auth" *ngIf="!isAuth">
            <a routerLink="/auth/register">{{
              "HEADER.REGISTER" | translate
            }}</a>
          </li>
          <li class="nav__item nav__item--auth" *ngIf="!isAuth">
            <a routerLink="/auth/login">{{ "HEADER.LOGIN" | translate }}</a>
          </li>
          <li class="nav__item nav__item--auth" *ngIf="isAuth">
            <a routerLink="/dashboard">{{ "HEADER.DASHBOARD" | translate }}</a>
          </li>
          <li class="nav__item nav__item--auth" *ngIf="isAuth">
            <a (click)="onLogout()">{{ "HEADER.LOGOUT" | translate }}</a>
          </li>
          <li class="nav__item">
            <img
              (click)="onSwitchLanguage('pl')"
              src="../../../assets/img/poland.png"
              alt="poland-flag"
              class="flag"
            />
          </li>
          <li class="nav__item">
            <img
              (click)="onSwitchLanguage('en')"
              src="../../../assets/img/united-kingdom.png"
              alt="uk-flag"
              class="flag"
            />
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
