<header class="header">
  <div class="container">
    <nav class="nav">
      <a routerLink="/" class="logo">
        <img
          src="../../../assets/img/jobOffers_logo.png"
          alt="it-job-offers-logo"
          class="logo__img"
        />
      </a>
      <ul class="nav__list">
        <li class="nav__item"><a>Offers</a></li>
        <li class="nav__item"><a>Companies</a></li>
        <li class="nav__item"><a>About</a></li>
      </ul>
      <ul class="nav__list">
        <li class="nav__item nav__item--auth">
          <a>Register</a>
        </li>
        <li class="nav__item nav__item--auth">
          <a>Login</a>
        </li>
        <li class="nav__item">
          <img
            src="../../../assets/img/poland.png"
            alt="poland-flag"
            class="flag"
          />
        </li>
        <li class="nav__item">
          <img
            src="../../../assets/img/united-kingdom.png"
            alt="uk-flag"
            class="flag"
          />
        </li>
      </ul>
    </nav>
  </div>
</header>
