<mat-dialog-content [formGroup]="offerForm" class="form">
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.NAME" | translate }}</mat-label>
    <input matInput type="text" name="name" formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.EXP_LEVEL" | translate }}</mat-label>
    <mat-select name="experienceLevel" formControlName="experienceLevel">
      <mat-option *ngFor="let level of expLevels" [value]="level">{{
        level
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.CATEGORY" | translate }}</mat-label>
    <mat-select name="category" formControlName="category">
      <mat-option *ngFor="let category of categories" [value]="category">{{
        category
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.MIN_SALARY" | translate }}</mat-label>
    <input
      matInput
      type="number"
      name="salaryMin"
      formControlName="salaryMin"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.MAX_SALARY" | translate }}</mat-label>
    <input
      matInput
      type="number"
      name="salaryMax"
      formControlName="salaryMax"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.DESCRIPTION" | translate }}</mat-label>
    <textarea
      matInput
      class="form__textarea"
      name="description"
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.MUST_HAVE" | translate }}</mat-label>
    <mat-select multiple name="mustHave" formControlName="mustHave">
      <mat-option *ngFor="let item of mustHaves" [value]="item">{{
        item
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.NICE_TO_HAVE" | translate }}</mat-label>
    <mat-select multiple name="niceToHave" formControlName="niceToHave">
      <mat-option *ngFor="let item of niceToHaves" [value]="item"
        >{{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox
    class="example-margin"
    name="isRemote"
    formControlName="isRemote"
    >{{ "OFFER_FORM.REMOTE" | translate }}</mat-checkbox
  >
  <h2 class="mat-h2">{{ "OFFER_FORM.ADDRESS" | translate }}</h2>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.CITY" | translate }}</mat-label>
    <input matInput type="text" name="city" formControlName="city" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.POST_CODE" | translate }}</mat-label>
    <input matInput type="text" name="postCode" formControlName="postCode" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.STREET" | translate }}</mat-label>
    <input matInput type="text" name="street" formControlName="street" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "OFFER_FORM.NUMBER" | translate }}</mat-label>
    <input
      matInput
      type="text"
      name="streetNumber"
      formControlName="streetNumber"
    />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSave()">
    {{ "OFFER_FORM.SAVE" | translate }}
  </button>
  <button mat-raised-button (click)="onClose()">
    {{ "OFFER_FORM.CLOSE" | translate }}
  </button>
</mat-dialog-actions>
