<section class="similar-offers">
  <h2 class="mat-h2">
    {{ "SIMILAR_OFFERS.HEADER" | translate: translateParams }}
  </h2>
  <div class="offers" *ngIf="!isLoading">
    <a
      class="offer"
      *ngFor="let offer of offers"
      [routerLink]="['/offers', offer.slug]"
      (click)="onScrollTop()"
    >
      <h3 class="offer__name">{{ offer.name }}</h3>
      <img class="offer__logo" src="{{ offer.company.logoUrl }}" alt="" />
      <small class="offer__company">{{ offer.company.name }}</small>
    </a>
  </div>
  <div class="spinner-wrapper" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</section>
