<section class="dashboard" *ngIf="!isLoading">
  <mat-tab-group [backgroundColor]="'primary'">
    <mat-tab>
      <ng-template mat-tab-label>
        {{ "DASHBOARD.OFFERS" | translate }}
      </ng-template>
      <app-company-offers [companyId]="company._id"></app-company-offers>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{ "DASHBOARD.ADD_OFFER" | translate }}
      </ng-template>
      <app-add-offer [companyId]="company._id"></app-add-offer>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="flexAlignCenter">
        <span style="margin-right: 10px">{{
          "DASHBOARD.COMPANY" | translate
        }}</span>
        <img [src]="company.logoUrl" alt="" style="width: auto; height: 40px" />
      </ng-template>
      <app-edit-company-details
        [company]="company"
        (logoChanged)="onLogoChange()"
      ></app-edit-company-details>
    </mat-tab>
  </mat-tab-group>
</section>
<div class="spinner-wrapper" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
