<div *ngIf="isLoading" class="spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>

<div class="container">
  <section class="offer-container" *ngIf="!isLoading">
    <mat-card class="offer">
      <h1 class="offer__name">{{ offer.name }}</h1>
      <div class="offer__info">
        <p class="offer__experienceLevel">{{ offer.experienceLevel }}</p>
        <p class="offer__category">{{ offer.category }}</p>
        <p
          class="offer__observe flexAlignCenter"
          (click)="onAddToWatchOffers()"
        >
          <mat-icon class="mr-5">grade</mat-icon>
          {{ "OFFER_ITEM.WATCH" | translate }}
        </p>
        <p class="offer__salary flexAlignCenter">
          <mat-icon class="mr-5">money</mat-icon
          ><span>{{ offer.salaryMin }} - {{ offer.salaryMax }} </span>
        </p>
        <small class="offer__date flexAlignCenter"
          ><mat-icon class="mr-5">today</mat-icon
          ><span>{{ offer.createdAt | date: "shortDate" }} </span></small
        >
        <p class="offer__city flexAlignCenter" *ngIf="!offer.isRemote">
          <mat-icon class="mr-5">explore</mat-icon><span>{{ offer.city }}</span>
        </p>
        <p class="offer__remote flexAlignCenter" *ngIf="offer.isRemote">
          <mat-icon class="mr-5">explore</mat-icon><span>Remote</span>
        </p>
      </div>
      <h3 class="offer__section-title">
        {{ "OFFER_ITEM.MUST_HAVE" | translate }}
      </h3>
      <mat-chip-list>
        <mat-chip
          color="primary"
          selected
          *ngFor="let item of offer.mustHave"
          >{{ item }}</mat-chip
        >
      </mat-chip-list>
      <h3 class="offer__section-title">
        {{ "OFFER_ITEM.NICE_TO_HAVE" | translate }}
      </h3>
      <mat-chip-list class="offer__nicetohave">
        <mat-chip
          color="accent"
          selected
          *ngFor="let item of offer.niceToHave"
          >{{ item }}</mat-chip
        >
      </mat-chip-list>
      <h3 class="offer__section-title">
        {{ "OFFER_ITEM.DESCRIPTION" | translate }}
      </h3>
      <p class="offer__description">
        {{ offer.description }}
      </p>
    </mat-card>
    <mat-card class="company">
      <div class="company__info">
        <img
          src="../../../assets/img/company.png"
          alt="{{ offer.company.name }}"
          class="company__logo"
        />
        <p class="company__name mtb-10">
          <small>{{ "OFFER_ITEM.COMPANY_NAME" | translate }}:</small>&nbsp;
          <a>{{ offer.company.name }}</a>
        </p>
        <p class="company__size mtb-10">
          <small>{{ "OFFER_ITEM.COMPANY_SIZE" | translate }}:</small> &nbsp;{{
            offer.company.companySize
          }}
        </p>
        <p class="company__description mtb-10">
          {{ offer.company.description }}
        </p>
      </div>
    </mat-card>
  </section>
  <app-offer-apply *ngIf="!isLoading" [offerId]="offer._id"> </app-offer-apply>
  <app-similar-offers
    *ngIf="!isLoading"
    [city]="offer.city"
    [category]="offer.category"
  ></app-similar-offers>
</div>
