/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  line-height: 1.6;
  color: #333;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.mr-5 {
  margin-right: 5px;
}

$header-background-color: #f8f8f8;
$background-color: #fff;
$primary-color: #fff;
$primary-color-on-hover: #fff;
$secondary-color: #fff;
$secondary-color-on-hover: #fff;
// 31c6e8
// 31e89f
// 31e8e8
